export("%^%")
export("%?%")
export("%!%")
export("%#%")
export("%_%")
export("%o%")
export("%xbar%")
export("%like%")
export(aj)
export(compose)
export(cross)
export(dict)
export(each)
export(fills)
export(lj)
export(select)
export(uj)
export(ungroup)
export(update)
export(xasc)
export(xcol)
export(xcols)
export(xdesc)
export(xgroup)
export(xkey)
export(xprev)
